.bg-purple-400{background-color: rgb(164, 96, 227);}
.text-color-purple{color:rgb(71, 19, 119);}
.text-color-darkred{color:rgb(101, 16, 16); font-family: Comic Sans MS;}
.maxWidth-25{max-width: 25rem;}
.maxWidth-30{max-width: 30rem; background-color: rgb(101, 16, 16);}